<!--      MODAL DETAILS PUBLICATION       -->
<div class="container-fluid"> 

<header> <h1 class="mat-display-2">Dashboard</h1></header>



<!--      COMPARAISON OLD VS NEW BUILD       -->




<!--      TABLE BUILDS        -->
<mat-divider></mat-divider><br>


<br><form class="form-inline my-2 my-lg-0">

    
 <button type="button" class="btn btn-primary btn-sm" style=' position: relative; text-align: right;
 left: 96.5%;' (click)="addRows()" >More</button>
 <button type="button" class="btn btn-secondary btn-sm" style=' position: relative; text-align: right;
 left: 89.5%;' (click)="removeRows()" >Less</button>
</form>
<br><br>









<!--      MODAL DETAILS FAILED PUBLICATION       -->


</div>