@import '~@angular/material/theming';

@mixin tile-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $background-color: mat-color($background, card);

    .tile {
        @include mat-elevation(2);
        background-color: mat-color($accent);
        border: 1rem solid $background-color;
        padding: 2rem;
        min-height: 200px;
        min-width: 200px;
        
        p {
            color: $background-color;
            font-family: 'Pacifico';
            line-height: 2.4rem;
            font-size: 2rem;
        }
    }
  }

  h1 {
    font-weight: 200;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    td-tile {
        flex: 30%;
        margin: 0 10px 10px 0;
    }
}

mat-slide-toggle {
    margin-bottom: 10px;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }










